body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
}

form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
    border: 0.25px solid rgb(175, 174, 174);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: sans-serif;
    font-weight: 600;
    max-width: 400px;
    border-radius: 25px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
    border: none;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
}


.poke-card::before {
    content: '';
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.img-container {
    position: relative;
    width: 250px;
    border-radius: 15px;
    margin: 10px auto;
    margin-bottom: 20px;
}

.line{
    width: 90%;
    height: 1px;
    background-color: rgb(34, 171, 175);
    margin: auto;
    margin-bottom: 20px;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.poke-types div {
    text-transform:capitalize;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    border-radius: 4px;
    border: 0.5px solid rgb(34, 171, 175);
    background-color: white;

}

.poke-img {
    width: 250px;
    border-radius: 50%;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));
}

.nombre{
    font-weight: 800;
    font-size: 20px;
    text-transform: capitalize;
}
